<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="El Económico"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <!-- SplashActivity con el tema de splash y como inicio -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Eleconomico.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Resto de actividades -->
        <activity android:name=".ResenasActivity" android:exported="false" />
        <activity android:name=".ListaPedidosActivity" android:exported="true" />
        <activity android:name=".RepartidorActivity" android:exported="true" />
        <activity android:name=".MenuActivity" android:exported="true" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".DashboardActivity" android:exported="true" />
        <activity android:name=".PedidoActivity" android:exported="true" />
        <activity android:name=".PerfilActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true" />

    </application>
</manifest>
